* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }


.navegador{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 5vh;
    background-color:green;
    color: black;
    list-style: none;
}

.descripcion{
    font-size: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: black;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background: rgb(36,0,8);
    background: linear-gradient(90deg, rgba(36,0,8,1) 0%, rgba(83,85,83,1) 0%, rgba(134,135,135,1) 30%, rgba(207,205,205,1) 100%, rgba(249,249,249,1) 100%);
    height: 100%;
    font-size: x-small;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.canchas{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner{
    width: 100vw;
    margin: 0 auto;
}

.controlCarousel{
    max-width: 85vw;
    max-height: 85vh;
    margin: 0 auto;
}

@mixin estiloParrafo {
    font-family: 'Roboto', sans-serif;
    color: black;
    
}

@mixin titulosPrimarios {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: lightpink;
    text-align: center;
}

@mixin estiloTitulosSecundarios {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    background-color: lightgreen;
    text-align: center;
    
}

.container{
    p{
        @include estiloParrafo();
    }

    h1{ @include titulosPrimarios();
        
    }
    h3{
        @include estiloTitulosSecundarios();
    }
}

h1{ @include titulosPrimarios();
        
}

.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sedes{
    display: flex;
    justify-content: space-between;
}

